
MNIST/.DS_Store
.DS_Store
processing_mnist/drop.png
processing_mnist/.idea/inspectionProfiles/profiles_settings.xml
processing_mnist/.idea/inspectionProfiles/Project_Default.xml
processing_mnist/.idea/misc.xml
processing_mnist/.idea/modules.xml
processing_mnist/.idea/processing_mnist.iml
processing_mnist/.idea/vcs.xml
processing_mnist/.idea/workspace.xml
processing_mnist/mnist_venv/*
processing_mnist/data/*